<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Genre Popularity Map</title>
  <link rel="stylesheet" href="/static/css/style1.css">
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="https://unpkg.com/topojson@3"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>
<body>
    <!-- Header with link to home -->
    <header class="tequila-header">
        <a href="/" class="home-link">
            <svg class="header-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <circle cx="50" cy="50" r="40" />
            </svg>
            <span>Tequila Label</span>
        </a>
    </header>

  <h2>Popularity of musical genres around the world</h2>
  <div class="controls">
    <label for="yearInput">Year: </label>
    <input type="number" id="yearInput" placeholder="All Years" min="1900" max="2100">
    
    <label for="includeUnknownCheckbox">Consider unknown genre</label>
    <input type="checkbox" id="includeUnknownCheckbox">

    <label for="includeUnknownDateCheckbox">Consider unknown dates</label>
    <input type="checkbox" id="includeUnknownDateCheckbox">

  </div>
  <div id="mapContainer"></div>
  <button id="resetZoom">Unzoom</button>
  <script>
    var mapContainer = d3.select("#mapContainer");
    var width = 960;
    var height = 600;

    var svg = mapContainer.append("svg")
        .attr("width", width)
        .attr("height", height);

    var mapGroup = svg.append("g");

    var projection = d3.geoMercator()
        .center([0, 20])
        .scale(140)
        .translate([width / 2, height / 2]);

    var path = d3.geoPath().projection(projection);

    // Configuration for zoom
    var zoom = d3.zoom()
        .scaleExtent([1, 8])
        .on("zoom", function(event) {
          mapGroup.attr("transform", event.transform);
          updateBubbleSizes(event.transform.k); // Update bubble sizes on zoom
        });

    svg.call(zoom);

    // Function to update bubble sizes based on zoom level
    function updateBubbleSizes(zoomLevel) {
        mapGroup.selectAll("circle")
            .attr("r", function() {
                var originalRadius = +d3.select(this).attr("data-original-radius");
                return originalRadius / zoomLevel; // Scale radius by zoom level
            });
    }

    // Function to reset zoom
    function resetZoom() {
        svg.transition()
            .duration(750)
            .call(zoom.transform, d3.zoomIdentity);
    }

    // Load geographical data
    d3.json("/static/data/world.geojson").then(dataGeo => {
      d3.json("/static/data/songs_final.json").then(albumData => {
        ready(null, dataGeo, albumData);
      }).catch(error => {
        console.error("Error loading album data: ", error);
      });
    }).catch(error => {
      console.error("Error loading geographic data: ", error);
    });

    function ready(error, dataGeo, albumData) {
      if (error) {
        console.error("Error loading data: ", error);
        return;
      }

      // Extract unique genres and create color scale
      var genres = Array.from(new Set(albumData.map(d => d.albumGenre)));
      var color = d3.scaleOrdinal()
        .domain(genres)
        .range(d3.schemeSet3);

      // Draw world map
      mapGroup.append("g")
        .selectAll("path")
        .data(dataGeo.features)
        .enter().append("path")
          .attr("d", path)
          .attr("fill", "#b8b8b8")
          .style("pointer-events", "visibleFill") 
          .style("stroke", "none")
          .style("opacity", 0.3);

      // Function to get the most popular genre by country
      function getTopGenreByCountry(data) {
        var countryGenreCounts = {};

        data.forEach(album => {
          const country = album.location.country;
          const genre = album.albumGenre;

          if (!countryGenreCounts[country]) {
            countryGenreCounts[country] = {};
          }
          countryGenreCounts[country][genre] = (countryGenreCounts[country][genre] || 0) + 1;
        });

        var topGenreByCountry = {};
        Object.keys(countryGenreCounts).forEach(country => {
          const genres = countryGenreCounts[country];
          const topGenre = Object.keys(genres).reduce((a, b) => genres[a] > genres[b] ? a : b);
          topGenreByCountry[country] = { genre: topGenre, count: genres[topGenre] };
        });

        return topGenreByCountry;
      }

      // Function to draw bubbles with the most popular genre and show album count on hover
      function drawBubbles(data) {
        mapGroup.selectAll("circle").remove();

        const topGenreByCountry = getTopGenreByCountry(data);

        Object.entries(topGenreByCountry).forEach(([countryName, info]) => {
          const country = dataGeo.features.find(c => c.properties.name === countryName);

          if (country) {
              var radius = Math.sqrt(info.count) * 2;
              mapGroup.append("circle")
                .attr("cx", projection(d3.geoCentroid(country))[0])
                .attr("cy", projection(d3.geoCentroid(country))[1])
                .attr("r", radius)
                .attr("data-original-radius", radius) // Save original radius
                .style("fill", color(info.genre))
                .attr("stroke", "black")
                .attr("stroke-width", 0.5)
                .attr("fill-opacity", 0.7)
                .append("title")
                .text(`Country: ${countryName}\nGenre: ${info.genre}\nAlbums: ${info.count}`);
          }
        });
      }

      // Function to update map based on selected year
      function updateMap() {
        var selectedYear = d3.select("#yearInput").property("value");
        var includeUnknownGenres = d3.select("#includeUnknownCheckbox").property("checked");
        var includeUnknownDates = d3.select("#includeUnknownDateCheckbox").property("checked");
    
        var filteredData = albumData.filter(album => {
            var hasValidGenre = album.albumGenre && album.albumGenre.trim() !== "";
            var hasValidReleaseDate = album.albumReleaseDate && album.albumReleaseDate.trim() !== "";
            var yearMatch = selectedYear ? album.albumReleaseDate === selectedYear : true;
            var genreMatch = hasValidGenre || (!hasValidGenre && includeUnknownGenres);
            var dateMatch = hasValidReleaseDate || (!hasValidReleaseDate && includeUnknownDates);
            return yearMatch && genreMatch && dateMatch;
        });
    
        drawBubbles(filteredData);
    }

      // Add event listeners for year input and checkboxes
      d3.select("#yearInput").on("input", updateMap);
      d3.select("#includeUnknownCheckbox").on("change", updateMap);
      d3.select("#includeUnknownDateCheckbox").on("change", updateMap);
      d3.select("#resetZoom").on("click", resetZoom);

      // Initialize map with all data
      updateMap();
    }
  </script>
</body>
</html>