<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre Production Evolution</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/double_slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/visualisation3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/personnalised_checkbox.css') }}"> 

</head>
<body>
    <!-- Header with link to home -->
    <header class="tequila-header">
        <a href="/" class="home-link">
            <svg class="header-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <circle cx="50" cy="50" r="40" />
            </svg>
            <span>Tequila Label</span>
        </a>
    </header>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <div class="title">
        <h1>Evolution de la production des différents <br/> genres musicaux à travers le temps</h1>
    </div>

    <!-- D3.js script -->
    <div class="visualisation">
        <div id="tooltip"></div>
        <div id="my_dataviz"></div>
        <div class="filters">
            <div class="filter-title">
                <span> Selection de la période </span><br/><br/>
                <span> Veuillez selectionner la période à considérer Année de début - Année de fin</span>
            </div>
            <div class="year_control">
                <div class="range_container">
                    <div class="sliders_control">
                        <input id="fromSlider" type="range" value="10" min="0" max="100"/>
                        <input id="toSlider" type="range" value="40" min="0" max="100" />
                    </div>
                    <div class="form_control">
                        <div class="form_control_container">
                            <div class="form_control_container__time">Min</div>
                            <input class="form_control_container__time__input" type="number" id="fromInput" value="10" min="0" max="100"/>
                        </div>
                        <div class="form_control_container">
                            <div class="form_control_container__time">Max</div>
                            <input class="form_control_container__time__input" type="number" id="toInput" value="40" min="0" max="100"/>
                        </div>
                    </div>
                </div>
                <div class="tooltip">
                    <div class="form_control_checkbox">
                        <label class="form-control-checkbox">
                            <input type="checkbox" name="checkbox" value="UNK" />
                            Inclure Unknown
                          </label>
                    </div>
                    <span class="tooltiptext">Inclure la valeur Unknown (UNK) dans les dates</span>
                </div>
                
            </div>
            <div class="filter-title">
                <span> Selection du(es) genre(s) </span><br/><br/>
                <span> Veuillez Selectionner les genres à considérer </span>
            </div>
            <div id="genre_control">
    
            </div>
    
        </div>    
    </div>
    
    <script src="{{ url_for('static', filename='js/double_slider.js') }}"></script>
    <script src="{{ url_for('static', filename='js/visualization3.js') }}"></script>
        
</body>
</html>
